@charset "utf-8";
/* CSS Document */

*
{
	margin:0 auto;
	padding:0px;
}

@font-face {
    font-family: 'colaboratelightregular';
    src: url("../font/ColabLig-webfont.eot");
    src: url("../font/ColabLig-webfont.eot?#iefix") format("embedded-opentype"),
         url("../font/ColabLig-webfont.woff") format("woff"),
         url("../font/ColabLig-webfont.ttf") format("truetype"),
		 url("../font/ColabLig.otf") format("opentype"),
         url("../font/ColabLig-webfont.svg#colaboratelightregular") format("svg");
    font-weight: normal;
    font-style: normal;

}
@font-face {
	font-family: 'myriad pro';
	src: url("../font/MyriadPro-Regular.eot");
	src: url("../font/MyriadPro-Regular.eot?#iefix") format("embedded-opentype"),
	url("../font/MyriadPro-Regular.woff") format("woff"),
	url("../font/MyriadPro-Regular.ttf") format("truetype"),
	url("../font/MyriadPro-Regular.otf") format("opentype"),
	url("../fonts/MyriadPro-Regular.svg#hneue") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face { 
	font-family: 'Minion Pro';
	src: url("../font/minion_pro.eot");
	src: url("../font/minion_pro.eot?#iefix") format("embedded-opentype"),
	url("../font/minion_pro.woff") format("woff"),
	url("../font/minion_pro.ttf") format("truetype"),
	url("../font/minion_pro.svg#Minion Pro") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'LatoRegular';
	src: url("../font/Lato-Regular-webfont.eot");
	src: url("../font/Lato-Regular-webfont.eot?iefix") format("eot"),
	url("../font/Lato-Regular-webfont.woff") format("woff"),
	url("../font/Lato-Regular-webfont.ttf") format("truetype"),
	url("../font/Lato-Regular-webfont.svg#webfontwlOsaZaJ") format("svg");
	font-weight: normal;
	font-style: normal;
}


body
{
	margin:0 auto;
	padding:0px;
	font-family:ColaborateLight, "Myriad Pro", "Minion Pro";
	background:url(../images/bg.gif) repeat-x #e7e8ea;
	color:#000000;
}
h1{font-size:20px;}
h2{font-size:16px;}
h3{font-size:14px;}
h4{font-size:12px;}
h5{font-size:11px;}


/********RESET********/

/* set image max width to 100% */
img {
	max-width: 100%;
	height: auto; border:0 none;
	width: auto\9; /* ie8 */
}

/* set html5 elements to block */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, banner { 
    display: block;
}

#main{
	width:100%;
	overflow: hidden; 
    position: relative;
}

#headerContainer{ width:100%; height:auto; float:left;}

.header{ width:80%; height:auto; margin-top:2%;}

.logo{ width:20%; float:left;}

.nav{ width:60%; float:left; font-size:16px; text-align:center;margin-top:1%;}

.nav ul li{ list-style:none; display:inline-block; margin-right:3%;}

.nav a:link, .nav a:visited{
	color:#d7d7e3;
	padding:5px 15px;
	display:block;
	text-decoration:none;
}
.nav a:hover{
	color:#000; border-radius:5px;
	background:#d2d2d5;
	display:block;transition-duration:0.8s;
	text-decoration:none;
}
.nav a.active{
	color:#000; border-radius:5px;
	background:#d2d2d5;
	display:block;
	text-decoration:none;
}

.user{ width:20%;float:right; margin-top:1%;}

.button{background:url(../images/btn-f-1.gif) no-repeat left; padding:0 0 0 25px; font-size:15px; color:#bec0b6; cursor:pointer; width:166px; height:30px; border:none; text-align:left;}
.button_1{ background:url(../images/btn-f-2.gif) no-repeat left; color:#fff;}

.button_2{
    border-radius:5px; border:none;
    background:#2256a2;
    color:#fff; font-size:15px;
    display: inline-block;
    cursor:pointer; transition:1s ease;
    padding:5px 20px;
    text-decoration: none;
}
.button_2:hover{
    background:#5f7390;
	border:none;
    border-radius:5px; transition:1s ease;
    color:#fff;
    text-decoration: none;
    cursor:pointer;
}

.right{ float:right!important;}
.left{ float:left!important;}
.clear{ clear:both; margin:0; padding:0;}
.gap{ padding-left:10px;}
.gap1{ padding-left:20px;}

.container{ width:100%; height:auto; float:left; margin-top:2%;}

.banner{ width:80%; height:auto;overflow:hidden; text-align:center;}

.content{ width:80%; height:auto; margin-top:1%;}

.grid{ width:24.25%; margin-right:1%; float:left; background:#f4f4f4; border:3px solid #fff; border-radius:5px; -moz-box-sizing:border-box; box-sizing:border-box; text-align:center; padding:1% 0;}
.grid span{ color:#8c8c92;}
.grid:nth-child(4){ margin-right:0!important;}

.grid ul li{list-style:square; margin:0 0 1% 3%;}
.grid ul li a:link, .grid ul li a:visited {
    color:#000!important; text-decoration:none;
}
.grid ul li a:hover {
    color:#fb0d3f!important; text-decoration:none;
}
.grid-lg {width:30.6%; margin-right:4%; float:left; padding:1% 0;}
.grid-lg:nth-child(3){ margin-right:0!important;}

.grid-lg h1 {font-weight:normal; margin:1% 0 2%; color:#505050; font-size:2em;}
.grid-lg h1 > img{ float:left; margin-right:2%; }
.grid-lg h4 {font-weight:normal; margin:0 0 2%!important; color:#5f7390; font-size:1em;}

.grid-lg p{ text-align:justify; color:#505050; margin-top:2%;}
.section{ width:80%; height:auto; margin-top:1%;}
.section h1 {font-weight:normal; margin:1% 0; color:#505050; font-size:2em;}
.section h4 {font-weight:normal; margin:0 0 2%!important; color:#5f7390; font-size:1em;}

.section ul li{list-style:url(../images/bullet-arrow.png)!important; margin:0 0 3% 5%!important;}
.section ul li a:link, .section ul li a:visited {
    color:#828181!important; text-decoration:none;
}
.section ul li a:hover {color:#000!important; text-decoration:none;}

.col{ width:100%; float:left;}
.col ul li{list-style:url(../images/bullet-plus.png)!important; margin:0 0 1% 2%!important;}

.col-2{ width:50%; float:left;}
.col-2 img{ height:250px; width:100%;}
.col-3{ width:70%; float:left;}
.col-4{ width:30%; float:left;}
.dark{ width:40%; background:#3b3b3b; text-align:center; height:250px; padding:0 5%;}
.dark h1 {font-family:"Minion Pro"; font-weight:normal; margin:5% 0 2%!important; color:#fff; font-size:36px;}
.dark h3 {font-family:"Minion Pro"; font-weight:normal; margin:7% 0!important; color:#fff; font-size:16px;}
.dark span{ font-family:Lato; float:right!important; color:#fff; font-weight:bold;}
.offer{ text-align:center;}
.offer > .button_2{ padding:10px 20px; font-size:30px;}

.footer{ width:100%; height:auto; float:left; background:#353546; color:#a2a2ad; font-size:14px; padding-bottom:2%;}
.footer h3 {font-weight:normal; margin:4% 0 2%!important; color:#fff; font-size:1.5em;}

.textbox{ width:50%;height:auto; padding:10px; border:1px ridge #353546; border-radius:8px; background:#242439;
	font-size:13px; outline:none; color:#a2a2ad; box-shadow:inset 0 0 2px #000;
}
.textbox_1{ width:92%; margin-bottom:2%;}
.txtarea{
	height:100px; resize:none;
}

.button_3{ background:#e7e8ea!important; color:#242439;}
.button_3:hover{ background:#2256a2!important; color:#fff;}

.social-widget{ width:100%; float:left; border-bottom:1px solid #9a9aa4; padding:1% 0; font-family:"Minion Pro";}
.social-widget span{ font-family:ColaborateLight!important; font-size:16px;}
.social-widget > img{ float:left; margin-right:4%;}
.social-icon { display:block; margin:2% 0; float:left; width:100%; height:auto;}
.social-icon span{ margin-right:2%;}

.footCol{ width:50%; float:left;}
.footCol > .col-2{ width:47%!important; float:left;}
.footCol > .col-2 > span{ float:right!important;}

/* for login page*/
.form {
    color: #fff;
    line-height: 40px;
    width: 70%;
}
.form p {
    display: block;
    margin-bottom: 2%;
}
.required {
    color: #ff0000;
}
.row {
    display: block;
    margin-bottom: 2%;
}
input[type="checkbox"]
{margin-right:8px;}
.errorMessage {
    color: #ff0000;
}

a.button{background:url(../images/btn-f-1.gif) no-repeat left; padding:7px 97px 8px 25px; font-size:15px; color:#bec0b6; cursor:pointer;  border:none; text-align:left; text-decoration:none; width:166px; height:30px;}